{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Enter new password 2x</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Aaaaand again:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Let's try a new one!" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Nope. Your password was not changed</h1>
        <p>The link might be expired... Try again! </p>
    {% endif %}
{% endblock %}