
body {
    background: #DC9CE8;
    background: linear-gradient(135deg, #DC9CE8, #FF77E4);
}


}
p {
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
h1 {
    color: white;
    font-size: 45px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black;
}
h4 {
    color: white;
    font-size: 35px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black;
}
label {
	cursor: pointer;
	color: white;
	display: block;
	padding: 10px;
	margin: 3px;
}
.small {
	cursor: pointer;
	color: white;
	display: block;
	padding: 10px;
	margin: 3px;
}