{% extends "base.html" %}

{% block content %}
    <h1>Order list</h1>
    {% if order_list %}
    <ul>
        {% for order in order_list %}
            <img class="rounded-cicle" src="{{order.user.profile.photo.url}}">
            <li>
                <a href="{{ order.id }}">{{ order.id}}{{ order.order_date }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no orders... prob we're bankrupt :((</p>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">back</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Forward</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}