{% extends "base.html" %}

{% block content %}
    <h1>{{ order.id }}, ({{ order.order_date }})</h1>

    <p><strong>Order date:</strong> {{ order.order_date }}</p>
    <p><strong>Car:</strong> <a href="{% url 'car' order.car_id.pk %}">{{ order.car_id }}</a></p>
    <p><strong>Due date:</strong> {{ order.deadline }}</p>
    <p><strong>Order status:</strong></p>
    <p class="{% if order.status == 'Finalized' %}text-success{% elif copy.status == 'Pending' %}text-danger{% else %}text-warning{% endif %}">
        {{ order.status }}
    </p>
    <div style="margin-left:20px;margin:20px">
        <h4>Order lines</h4>

        {% for line in order.orderline_set.all %}
            <hr>
            <p><strong>ID:</strong> {{ line.id }}</p>
            <p><strong>Service:</strong> {{ line.service_id }}</p>
            <p><strong>Quantity:</strong> {{ line.quantity }}</p>
        {% endfor %}
        </br>
            <h4>Reviews...(don't mind the bad ones - clients are just sometimes stupid...)</h4>
            {% if order.orderreview_set.all %}
                {% for review in order.orderreview_set.all %}
                    <hr>
                    <strong>{{review.reviewer}}</strong>, <em>{{ review.date_created }}</em>
                    <p>{{ review.content }}</p>
                {% endfor %}
            {% else %}
                <p>Surprisingly, this order has no reviews ¯\_(ツ)_/¯</p>
            {% endif %}
        {% if user.is_authenticated %}
        <div class="fieldWrapper">
            <hr><br/>
            <h4>(RE)consider leaving a review:</h4>
            <form action="" method="post">
                {%csrf_token %}
                {{ form.content }}<br/>
                <input type="submit" value="Save">
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}